@model okta_custom_login.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4 class="credential-title">Change Password</h4>
    @Html.ValidationSummary(true)
    <div class="credential-form-group">
        @if (@Html.ValidationMessage("Error") != null)
        {
            @Html.ValidationMessage("Error")
        }
    </div>
    <div class="credential-form-group">
        <label for="">Current Password</label>
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-input", placeholder = "Enter your current password", id = "currPass" })
        @Html.ValidationMessageFor(model => model.OldPassword, "", new { id = "currPassErrorMessageSpan" })
    </div>
    <div class="credential-form-group">
        <label for="">New Password</label>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-input", placeholder = "Enter your new password", id = "newPass" })
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { id = "newPassErrorMessageSpan" })
    </div>
    <div class="credential-form-group">
        <label for="">Confirm Password</label>
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-input", placeholder = "Confirm your new password", id = "confirmPass" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { id = "confirmPassErrorMessageSpan" })
    </div>
    <div class="space-between">
        @Html.ActionLink("Back to Application", "BackToApp", "Profile", new { key = Model.Key })
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Key)
        <input class="credential-btn" type="submit" value="Change Password" id="changePasswordSubmit" />
    </div>



}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    $('#currPass').on("input", function () {
        $('#currPassErrorMessageSpan').text('');
        $('#currPassErrorMessageSpan').hide();
    });

    $('#newPass').on("input", function () {
        $('#newPassErrorMessageSpan').text('');
        $('#newPassErrorMessageSpan').hide();
    });

    $('#confirmPass').on("input", function () {
        $('#confirmPassErrorMessageSpan').text('');
        $('#confirmPassErrorMessageSpan').hide();
    });

</script>


