@model ACRLoginPortal.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
}

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4 class="credential-title">Forgot Password</h4>

    @Html.ValidationSummary(true)
    <div class="credential-form-group">
        @if (@Html.ValidationMessage("Error") != null)
        {
            @Html.ValidationMessage("Error")
        }
    </div>

    <div class="credential-form-group">
        <label for="">Email</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-input", placeholder = "Enter email address", id = "email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { id = "emailErrorMessageSpan" })

    </div>
    <div class="space-between">
        @Html.ActionLink("Sign In", "Login", "Account", new { key = Model.Key })
        @Html.HiddenFor(model => model.Key)
        <input class="credential-btn" type="submit" value="Send Mail" id="forgotPasswordSubmit" />
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    $('#forgotPasswordSubmit').click(function () {

        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!regex.test($('#email').val())) {
            $('#emailErrorMessageSpan').attr('class', 'field-validation-error');
            $('#emailErrorMessageSpan').text('Enter a valid email');
            $('#emailErrorMessageSpan').show();
            $('#email').focus();
            return false;
        } else {
            return true;
        }
    });

    $('#email').on("input", function () {
        $('#emailErrorMessageSpan').text('');
        $('#emailErrorMessageSpan').hide();
    });

</script>
