@model ACRLoginPortal.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
}

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4 class="credential-title">Reset Password</h4>
    @Html.ValidationSummary(true)
    <div class="credential-form-group">
        @if (@Html.ValidationMessage("Error") != null)
        {
            @Html.ValidationMessage("Error")
        }
    </div>
    <div class="credential-form-group">
        <label for="">New Password</label>
        @Html.PasswordFor(model => model.Password, new { @class = "form-input", placeholder = "Enter your new password", id = "newPass" })
        @Html.ValidationMessageFor(model => model.Password, "", new { id = "newPassErrorMessageSpan" })
    </div>
    <div class="credential-form-group">
        <label for="">Confirm Password</label>
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-input", placeholder = "Confirm your new password", id = "confirmPass" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { id = "confirmPassErrorMessageSpan" })
    </div>
    <div class="space-between">
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Key)
        <input class="credential-btn" type="submit" value="Reset Password" id="resetPasswordSubmit" />
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

    $('#newPass').on("input", function () {
        $('#newPassErrorMessageSpan').text('');
        $('#newPassErrorMessageSpan').hide();
    });

    $('#confirmPass').on("input", function () {
        $('#confirmPassErrorMessageSpan').text('');
        $('#confirmPassErrorMessageSpan').hide();
    });

    </script>


















}

